    .new-btn{
        width: 26px !important;
        height: 26px !important;
    }
    .new-fa{
        line-height: 24px !important;
        margin-left: 2px !important;
    }
    .player-wrap{
        width: 100%;
        margin: 0px;
        bottom: 0;
        height: 60px;
        /*background: linear-gradient(to bottom right, #106d64, #080808);*/
        background: linear-gradient(to bottom right, #252626, #686868);
        border-top: 1px solid #6a6161;
        position: fixed;
        z-index: 2000;
        padding: 0px;
        left: 0;
        right: 0;
        color: #fff;
        display: none;
    }
    .player-content{
        width: 32.9%;
        height: 60px;
        float: left;
    }

    .img-player {
        border-radius: 50%;
        border: 6px solid #5358565c;
        margin-left: 22px;
        max-width: 100%;
        margin-top: -20px;
        padding: 3px;
        cursor: pointer;
    }
    .img-spin-play{
        -webkit-animation: spin 10s linear infinite; /* Safari */
        animation: 6s linear 0s infinite normal none running spin;
    }
    .img-spin-pause{
        animation: 6s linear 0s infinite normal none paused spin;
    }
    .player-text-r{
        float: right;
        color: aliceblue;
        line-height: 1px;
        margin-right: 40%;
        margin-top: -5px;
    }
    .progressBar{ 
        width: 300px; 
        height: 2px; 
        background-color: rgba(255,255,255,1); 
        border-radius: 0px 0px 0px 0px; 
        padding: 2px;
        margin: 0px auto;
        margin-top: 10px; 
        cursor: pointer;
    }
    .progressBar > .progress{ 
        width: 0px; 
        height: 2px; 
        background-color: rgb(51, 247, 151); 
        border-radius: 0px 10px 10px 0px; 
        transition: width 0.3s linear 0s; 
        margin: -1px -2px;
    }
    .time-spin{
        float: left;
        margin-top: -1px;
        margin-left: 25px;
    }
    .time-count{
        float: right;
        margin-top: -15px;
        margin-right: 25px;
    }
    .fas{
        margin-left: 20px;
        cursor: pointer;
    }
    .center-top{
        width: 140px;
        margin: 0px auto;
        margin-top: 5px;
        font-size: 15px;
    }
    .center-bottom{
        width: 100%;
        margin-top: -4px;
    }

    .volumeBar{ 
        width: 100px; 
        height: 1px;
        padding: 3px;
        background-color: rgba(255,255,255,1);
        float: right;
        margin-right: 20px;
        margin-top: 30px;
        cursor: pointer;
    } 
    .volumeBar > .volumeP{ 
        width: 100px;
        height: 4px;
        background-color:
        rgb(51, 247, 151);
        padding: 0px;
        margin: -2px -3px;
    }
    .icon-volume {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
        font-size: 19px;
    }
    .c-volum{
        float: right;
        top: 22px;
        margin-right: 20px;
    }
    .ui-slider.ui-widget-content {
        background:#e3d9d94d !important;
    }
    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 2px !important;
        margin: -1px -1px !important;
    }
    .c-audio{
        top: 5px;
        padding-left: 13px;
    }
    .faclose{
        color: red;
    }
    .faclose:hover{
        color: #fff;
        cursor: pointer;
    }
   /* .ui-slider-horizontal.ui-slider .ui-slider-handle {
        top: -5px !important;
    }*/
    .ui-slider-handle {
        cursor: pointer !important;
    }
    /*.ui-state-active{
        top: -6px !important;
        width: 15px !important;
        height: 15px !important;
    }*/

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }